.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex: 1;
  padding: 0 1.5rem;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotateColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.title {
  font-weight: bold;
  font-size: 5rem;
  animation: fadeInDown 1.5s ease-out, rotateColor 5s linear infinite;
  color: #3498db;
  text-align: center;
  user-select: none;
}

.form {
  position: relative;
  display: flex;
  max-width: 500px;
  width: 100%;
  align-items: center;
  overflow: hidden;
  animation: fadeInDown 1.5s ease-out;
}

.form > input {
  font-size: 1.5rem;
  width: 100%;
  border: 3px solid #ddd;
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
}

.form > input::placeholder {
  color: #ddd;
}

.form > button {
  position: absolute;
  right: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.form svg {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  color: #ddd;
}

.form svg:hover {
  color: #333;
}
