.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex: 1;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotateColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes gradientText {
  0% {
    background: linear-gradient(0deg, #ff7e5f, #feb47b, #ffcc94, #f3ffe2);
    background-clip: text;
  }
  50% {
    color: transparent;
  }
  100% {
    background: linear-gradient(10deg, #ff7e5f, #feb47b, #ffcc94, #f3ffe2);
    background-clip: text;
  }
}

.title {
  font-weight: bold;
  font-size: 5rem;
  animation: fadeInDown 1.5s ease-out, rotateColor 5s linear infinite, gradientText 3s ease-in-out infinite;
  color: #3498db;
}

.form {
  display: flex;
  align-items: center;
  overflow: hidden;
  animation: fadeInDown 1.5s ease-out;
}
