.container {
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: 1fr 2.5fr;
  gap: 2rem;
  margin: 2rem;
  flex: 1;
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-areas:
      'right'
      'left';
    grid-template-columns: 1fr;
  }
}

.title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}
