.form {
  position: relative;
  display: flex;
  border: 2px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.form > input {
  flex: 1;
  padding: 0.7rem;
  border: none;
  outline: none;
}

.form > button {
  position: absolute;
  right: 0.3rem;
  padding: 0.7rem;
  border: none;
  background-color: transparent;
}

.form svg {
  color: #ddd;
  width: 1.2rem;
  height: 1.2rem;
}

.places_container {
  position: absolute;
  height: 500px;
  z-index: 9999;
  overflow-y: scroll;
}

.place_info_container {
  width: 400px;
  padding: 10px;
  border: 1px solid black;
  background-color: aliceblue;
  line-height: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.place_name {
  font-weight: 600;
  flex-grow: 1;
  display: block;
  padding: 5px;
  margin: 5px 0px;
}

.road_address_name {
  padding: 5px;
  font-size: 14px;
  flex-grow: 1;
  display: block;
  margin-bottom: 5px;
}

.category_group_name {
  padding: 5px;
  color: gray;
  font-size: 14px;
  flex-grow: 1;
  display: block;
  margin-bottom: 5px;
}
