.places_container{
  position:absolute;
  z-index: 9999;
  height : 500px;
  overflow-y: scroll;
}
.place_info_container{
  border : 1px solid black;
  padding : 10px;
  line-height: 3px;
  width: 400px;
  overflow: hidden;
}

.place_name{
  font-weight: 600;
}

.road_address_name{
  font-size: 14px;
}

.category_group_name{
  color: gray;
  font-size: 14px;
}
