.form {
  display: flex;
  overflow: hidden;
}

.form > input {
  flex: 1;
  padding: 0.7rem;
  border: none;
  outline: none;
  border: 2px solid #ddd;
  border-radius: 6px;
}

.form > input:hover {
  background-color: #ecf2ff;
}

.form > input:focus {
  border-color: #a4a4a4;
  background-color: #d9e2f6;
}

.form > button {
  position: absolute;
  right: 0.3rem;
  padding: 0.7rem;
  border: none;
  background-color: transparent;
}

.form svg {
  color: #b6b6b6;
  width: 1.2rem;
  height: 1.2rem;
}

.form svg:hover {
  color: #a4a4a4;
}

.places_container {
  position: absolute;
  top: 45px;
  max-width: 350px;
  width: 100%;
  max-height: 500px;
  z-index: 9999;
  overflow: hidden;
  overflow-y: overlay;
  cursor: pointer;
  border: 2px solid #a4a4a4;
  border-radius: 6px;
  background-color: rgb(240, 247, 244);
}

.places_container::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.places_container::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 6px;
}

.places_container > ul {
  display: flex;
  flex-direction: column;
}

.places_container > ul > li {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.place_name {
  font-weight: bold;
}

.road_address_name {
  font-size: 90%;
}

.category_group_name {
  color: gray;
  font-size: 14px;
  display: block;
}

.places_container button {
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
}
