.users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.users > li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #f6f8fa;
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
}

.users > li:hover {
  /* background: #f1f1f1; */
  background-color: #c4fdc1;
}

.users > li > strong {
  position: relative;
  left: 4%;
}

.users > li > p {
  position: relative;
  left: 3%;
  font-size: 90%;
  color: #666;
}
